<!DOCTYPE html>
<html>
<head>
  <title>Dicionario</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="navbar navbar-inverse noborder" role="navigation">
          <div class="navbar-header">
                <a class="navbar-brand" rel="home" href="/" >Dicionário</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
              <div class="col-sm-6 col-md-6">
                <form class="navbar-form" role="search" method="get" id="search-form" name="search-form">
                    <div class="btn-group pull-left" style="margin-right:10px;">
                  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">Todas <span class="caret"></span></a>
                    <div class="dropdown-menu multi">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-4">
                                  <ul class="dropdown-menu"><li><a href="#"><strong>Todas</strong></a></li></ul>
                                </div>
                            </div>
                          </div>
                    </div>    
                </div>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Pesquise aqui ..." id="query" name="query" value="">
                          <div class="input-group-btn">
                        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
                        </div>
                    </div>
                  </form>
                </div>
                <div class="col-sm-2 col-md-2">
                  <form class="navbar-form navbar-right" role="search">
                  </form>
                </div>
            </div>
        </div>        
      </div>  
    </div>

    <div class="container">
    <%= yield %>  
    </div><!-- /.container -->

</body>
</html>
